.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ag-pivot-off .ag-header-group-cell {
  font-size: 500px;
  color: red;
}

.ag-pivot-on .ag-header-group-cell {
  font-size: 205px;
  color: green;
}
.grid-cell-centered {
  text-align: center;
}
.ag-header-cell-text {
  text-align: center;
  margin-left: 35%;
}
.ag-row-hover {
  background-color: #dfdfff !important;
}

/* .ag-column-hover {
  background-color: #dfffdf;
} */
/* #root{
  background-color:black;
} */
.button {
  margin-right: 200px;
  border: none;
  height: 100px;
}
.search {
  height: 50px;
  width: 30%;
  border-radius: 15px;
  /* padding: 30px; */
  margin: 20px;
  text-align: center;
}
input[type="text"]:focus {
  background-color: lightblue;
  border: 3px solid #555;
  text-align: center;
}
.icons {
  font-size: 150px;
  margin: 10px;
  padding: 20px;
}
.table {
  text-align: center;
}
.gear {
  width: 24px;
  height: 24px;
}
